@import "../base/variables";
header{
    grid-area: header;
    // Menú general para desktop y pantallas grandes en general
    .navegacion{
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: space-around;
        background-color: $color-menu-fondo;
        z-index: 1;
        box-shadow: 5px 1px 5px 1px black;
        ul {
            display: flex;
            justify-content: space-between;
            padding-top: 1%;
            list-style: none;
            width: 500px;
        }
        h2{
            display: flex;
            align-items: center;
            text-decoration-style: none;
            color: $color-vino-letras;
            font-size: 59px;
        }
        .menu{
            li{
                position: relative;
                font-weight: 400;
                margin: 1%;
                &:hover {
                    color: $color-menu-fondo;
                }
            }
            
            a {
                justify-content: space-around;
                color: $color-vino-letras;
                font-size: 25px;
                text-decoration: none;
                transition: 0.4s;
                &:hover {
                    background-color: $color-vino-letras;
                    color: $color-menu-fondo;
                    transition: 1s;
                } 
            }

            ul{
                position: absolute;
                display: flex;
                max-width: 120%;
                max-height: 250%;
                flex-direction: column;
                display: none;
                &:hover{
                    background-color: $color-vino-letras;
                    display: block;
                    display: flex;
                    align-items: start; 
                }
            }

            li:hover ul {
                background-color: $color-vino-letras;
                display: block;
                display: flex;
                align-items: start;
            }
            
            .subMenu{
                a {
                    display: flex;
                    display: block;
                    color: $color-menu-fondo;
                    font-size: 19px;
                    text-decoration: none;
                }
            }
        }
        // Imagen Carrito de los diferentes menúes
        .imgCarrito {
            width: 30%;
            padding-top: 10%;
        }
        
        .imgCarrito:hover {
            transform: scale(1.2);
            transition: transform 0.2s;
        }
    }

}
