// Colores del menú y algunas letras importantes y bordes de imagenes
$color-menu-fondo: #3d4b43;
$color-menu-letras: #E5E3C9;
$color-vino-letras: #1b644e;
// Color borde iconos generales
$color-borde-iconos: rgb(24, 24, 24);
